#projet {
  background: black;
  height: auto;
  margin-top: 0px;
}
.projet_item {
  background: var(--color-bg-variant);
  padding: 1rem;
  border-radius: 2rem;
  border: 2px solid transparent;
  transition: var(--transition);
}
.projet_item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}
.projet_img {
  border-radius: 1.2rem;
  overflow: hidden;
  width: 50px;
}
.projet_item h3 {
  color: var(--color-primary-variant);
}

@media screen and (max-width: 1024px) {
  #projet {
    padding-top: 300vh;
  }
  .projets-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-left: 3px;
    width: 100px;
  }
}
