#experience {
  height: 70vh;
  width: 100%;
  margin-top: 0;
  background: black;
  padding-top: 10vh;
}
.about_card h5 {
  font-size: large;
  color: var(--color-primary);
}
.abou_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 10vh;
}
/*========Media screen small====*/
@media screen and (max-width: 1024px) {
  #experience {
    padding-top: 100vh;
    background: black;
  }
  .about_icon {
    text-align: center;
  }
  .abou_content {
    display: flex;
    flex-direction: column;
  }
}
