#experience {
  height: 120vh;
  width: 100%;
  margin-top: 0;
  background: black;
  padding-top: 10vh;
}

.about_card h5 {
  font-size: large;
  color: var(--color-primary);
}
.abou_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 10vh;
}
/*========Media screen small====*/
@media screen and (max-width: 1024px) {
  .abou_content {
    width: 100%;
    height: 150vh;
    padding: 2rem;
    margin: 0 auto;
  }
  .about_card {
    display: flex;
    flex-direction: column;
  }
}
