nav {
  gap: 0.8rem;
  display: flex;
  justify-content: space-between;
   align-items: center; 
  padding: 0;
  background-color:transparent;
  height: 80px;
  border-radius: 10px;
  position: fixed;
  top: 20px;
  left: 50px;
  font-size: 20px;
  z-index: 2;
  transform: translateY(10%);
  border-radius: 5px;
}
#logo {
  height: auto;
  color: #fff;
  justify-self: start;
  cursor: pointer;
  background-color: var(--color-primary);
  border-radius: 5px;
  padding: 5px;
}
.nav-menu{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-left: 70vh;
}
.nav-menu :hover {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
a {
  margin-right: 5px ;
  padding-left: 10px;
}
.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity : 0;
}

/*========Media screen small====*/
@media screen and (max-width: 1024px) {
.nav-btn  {
  visibility: visible;
  opacity: 1;
  color:black;
  background: transparent;
  font-size: 1rem;
}
#logo {
  display: none;
}
nav {
    position:fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: gray;
    transition: 1s;
    font-size: medium;
    padding-right: 7rem;
    color: red;
}

}
 @media screen and (max-width: 800px) {
  
} 
