nav {
  background: transparent;
  height: 80vh;
  z-index: 2;
  position: fixed;
  left: 0%;
  transform: translateX(10%);
  bottom: 15vh;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 30px;
  border-radius: 5px;
  backdrop-filter: blur(15px);
  
}
#logo {
  margin-top: 30%;
  color: #fff;
  justify-self: start;
  cursor: pointer;
  background-color: var(--color-primary);
  border-radius: 5px;
  padding: 10px;
  transform: rotate(90deg);
}
.main-nav {
  display: flex;
  flex-direction: column;
  margin-left: 3.5rem;
  margin-top: 3.5rem;
}
nav a.active {
  background: transparent;
  color: var(--color-white);
}
.nav-burger {
  width: 40px;
  height: 40px;
  background: transparent ;
  border:none;
  color: inherit;
  display: none;
}

/*========Media screen small====*/
@media screen and (max-width: 1024px) {

  #logo {
    color: #fff;
    margin-top: 0%;
    width: 100%;
    cursor: pointer;
    background-color: var(--color-primary);
    border-radius: 5px;
    padding: 10px;
    transform: none;
    text-align: center;
  }
 
  .nav-burger{
    display: block;
    position: fixed;
    top:1rem;
    right:1rem;
  }
  .nav-burger:hover{
    cursor: pointer;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after{
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: white;
    
  }
  .burger-bar::before,
  .burger-bar::after{
    content:"";
    position: absolute;
    left: 0;
  }
  .burger-bar::before {
    transform: translateY(-12px);
  }
  .burger-bar::after{
    transform: translateY(12px);
  }

}

/* @media screen and (max-width: 800px) {
  nav {
    position: absolute;
    transform: rotate(90deg);
    top: 0;
    left: 9rem;
    width: 50px;
    background: red;
    z-index: 0;
  }
  #logo {
    display: none;
  }
} */
